---
layout: default
title: "Process - Marcos Calatayud - UX designer"
navname: Process
---
<section class="mc-Section">
  <header class="mc-Section_Header">
    <h1 class="mc-Section_Heading">{{ navname }}</h1>
  </header>
  <div class="mc-Section_Body">
    <ol class="mc-Process">
      {% for step in process %}
        <li class="mc-Process_Step">
          <header class="mc-Process_Header">
            <h2 class="mc-Process_Title">{{ step.title }}</h2>
            <p class="mc-Process_Explanation"> {{ step.explanation }}</p>
          </header>
          <ul class="mc-Process_List">
            {% for type in step.substep %}
              <li class="mc-Process_Item">{{ type.title }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ol>
  </div>
</section>
