---
layout: default
title: "Work - Marcos Calatayud - UX designer"
navname: Work
---

<section class="mc-Section">
  <header class="mc-Section_Header">
    <div class="layout-Content-maxWidth">
      <h1 class="mc-Section_Heading">{{ page.navname }}</h1>
    </div>
  </header>
  <div class="layout-Content-centered">
  <ol class="mc-ListCompanies">
	  <li class="mc-ListCompanies_Item">
	  	<header class="mc-Company_Header">
		  	<a href="//es.linkedin.com/company/ninetyninemarkets" title="ninety nine" class="mc-Company_Logo">
			  	{% include_relative /assets/images/ninety-nine.svg %}
			  </a>
		  </header>
      <aside class="mc-Company_Meta">
        <h3 class="mc-Company_Date"><time datetime="2018">2018</time></h3>
      </aside>
			<div class="mc-Company_Main">
        <p class="mc-Company_Role">Designer and Frontend developer</p>

        <p>I was part of the team that led the way to the 1.0 version, <strong>working remotely</strong>. The most exciting part was <strong>coordinating with Compliance and Operations</strong> team mates to design a balanced product that met the legal requirements and was easy and intuitive as well.</p>

	  		<h3>Projects</h3>
	  		<ol>
		  		<li class=""><a href="//www.ninetynine.com">ninety nine (web broker, unreleased)</a></li>
	  		</ol>
	  	</div>
	  </li>
	  <li class="mc-ListCompanies_Item">
	  	<header class="mc-Company_Header">
		  	<a href="//es.linkedin.com/company/umanick" title="umanick" class="mc-Company_Logo">
			  	{% include_relative /assets/images/umanick.svg %}
			  </a>
		  </header>
      <aside class="mc-Company_Meta">
        <h3 class="mc-Company_Date"><time datetime="2017">2017</time></h3>
      </aside>
			<div class="mc-Company_Main">
        <p class="mc-Company_Role">Designer and Frontend developer</p>

        <p>I helped to <strong>reduce the scope</strong> of what we were building to fit into the narrow deadlines we got; <strong>designed flows and interfaces; and coded the front-end</strong> (FXML + CSS2.1) for a suite of biometric-related applications built with JavaFX.</p>

	  		<h3>Projects</h3>
	  		<ol>
		  		<li class=""><a href="//www.umanick.com/umanick-productos/">umanick Identity Suite 3.0</a></li>
	  		</ol>
	  	</div>
	  </li>
	  <li class="mc-ListCompanies_Item">
	  	<header class="mc-Company_Header">
		  	<a href="//es.linkedin.com/company/rankia" title="Rankia" class="mc-Company_Logo">
			  	{% include_relative /assets/images/rankia.svg %}
			  </a>
		  </header>
      <aside class="mc-Company_Meta">
        <h3 class="mc-Company_Date"><time datetime="2016">2016</time></h3>
      </aside>
			<div class="mc-Company_Main">
        <p class="mc-Company_Role">Designer &amp; Frontend developer</p>
        <p>Rankia asked me to <strong>tidy their design and front-end codebase after years of inconsistent iterations</strong>. I laid the foundations to give uniformity to the design by creating a live HTML+CSS style guide, which made backend developers happier and code faster. I also cleaned up the HAML templates and stylesheets, greatly reducing the size of the CSS files.</p>
	  		<h3>Projects</h3>
	  		<ol>
		  		<li class=""><a href="//www.rankia.com">Rankia</a></li>
		  		<li class=""><a href="//www.verema.com">Verema</a></li>
	  		</ol>
	  	</div>
	  </li>
	  <li class="mc-ListCompanies_Item">
	  	<header class="mc-Company_Header">
		  	<a href="//es.linkedin.com/company/aureka-internet-s.l." title="aureka internet" class="mc-Company_Logo">
			  	{% include_relative /assets/images/aureka.svg %}
			  </a>
		  </header>
      <aside class="mc-Company_Meta">
        <h3 class="mc-Company_Date"><time datetime="2010">2010</time>-<time datetime="2015">2015</time></h3>
      </aside>
			<div class="mc-Company_Main">
        <p class="mc-Company_Role">Designer &amp; Frontend developer</p>

        <p>My role as a UX designer and front-end developer covered many different areas where <strong>I had to coordinate with stakeholders and developers: from early sketching to pre-production prototypes</strong>; from desktop only to responsive design; from landing pages to newsletters; from R&amp;D to production design and code; from performance audits to copywriting.</p>

	  		<h3>Projects</h3>
	  		<ol>
		  		<li class=""><a href="//www.educapoker.com">EducaPoker</a> (including unreleased iterations).</li>
		  		<li class=""><a href="//www.poker-red.com">Poker-Red</a> (several iterations).</li>
		  		<li class="">Drupal Admin Interfaces.</li>
		  		<li class="">Several other inactive sites.</li>
	  		</ol>
	  	</div>
	  </li>

	  <li class="mc-ListCompanies_Item">
	  	<header class="mc-Company_Header">
	  		<a href="http://www.vetaminic.com" title="vetaminic" class="mc-Company_Logo">
			  	{% include_relative /assets/images/vetaminic.svg %}
			  </a>
	  	</header>
      <aside class="mc-Company_Meta">
        <h3 class="mc-Company_Date"><time datetime="2012">2012</time></h3>
      </aside>
	  	<div class="mc-Company_Main">
        <p class="mc-Company_Role">Designer &amp; Frontend developer</p>

        <p>This was my first <i>professional</i> side-project. I defined the flows and interfaces and implemented them with the Twig templating engine. <strong>I discovered how hard it is to keep a project up and running, and about timeframes and commitment</strong>.</p>

	  		<h3>Projects</h3>
	  		<ol>
		  		<li class=""><a href="http://www.vetaminic.com">Vetaminic</a>, an online management system for veterinarian clinics.</li>
	  		</ol>
  		</div>
	  </li>

	  <li class="mc-ListCompanies_Item">
	  	<header class="mc-Company_Header">
		  	<a href="http://www.grafico.es" title="grafico.es" class="mc-Company_Logo">
			  	{% include_relative /assets/images/grafico.svg %}
			  </a>
	  	</header>
      <aside class="mc-Company_Meta">
        <h3 class="mc-Company_Date"><time datetime="2008">2008</time>-<time datetime="2010">2010</time></h3>
      </aside>
	  	<div class="mc-Company_Main">
        <p class="mc-Company_Role">Frontend developer</p>

        <p>During my Master in Multimedia Development I started working at a professor's agency as a front-end developer. Here I started to share with my co-workers the <strong>importance of accessibility, semantic markup, microformats and compatibility</strong> (oh, good old IE6 days...).</p>

	  		<h3>Projects</h3>
	  		<ol>
		  		<li class="">Many different projects with XHTML and CSS2.1, but the Internet updates fast and now all those sites are either updated or down.</li>
	  		</ol>
	  	</div>
	  </li>

	  <li class="mc-ListCompanies_Item">
	  	<header class="mc-Company_Header">
		  	<a href="//www.nintendo-europe.com" title="Nintendo" class="mc-Company_Logo">
			  	{% include_relative /assets/images/nintendo.svg %}
			  </a>
	  	</header>
      <aside class="mc-Company_Meta">
        <h3 class="mc-Company_Date"><time datetime="2006">2006</time>/<time datetime="2007">2007</time></h3>
      </aside>
	  	<div class="mc-Company_Main">
        <p class="mc-Company_Role">Proof reader</p>

        <p>I got the opportunity to work where the dreams are built. Although it was a job not related to design, <strong>I learnt a lot about many topics by being part of a multinational team in a multinational company</strong>, where I ensured that the games were properly translated into Spanish.</p>

	  		<h3>Projects</h3>
	  		<ol>
		  		<li class=""><a href="//en.wikipedia.org/wiki/WarioWare:_Smooth_Moves">WarioWare: Smooth Moves</a> (Wii, 2007. <a href="http://www.mobygames.com/game/wii/warioware-smooth-moves/credits">Credited</a>)</li>
		  		<li class=""><a href="//en.wikipedia.org/wiki/Mario_Party_8">Mario Party 8</a> (Wii, 2007. Uncredited)</li>
	  		</ol>
  		</div>
	  </li>
  </ol>
</div>

</section>
