/* .mc-ListPosts_Item {} */

.mc-ListPosts_Item:not(:first-child) {
  margin-block-start: var(--layout-spacing-32);
}

.mc-ListPosts_Title {
  padding-block-end: 0;
  font-weight: bold;
}

.mc-ListPosts_Date {
  display: block;
  margin-block-end: calc(var(--layout-spacing-32) * -1);
  color: var(--text-color-secondary);
  font-style: italic;
}

.mc-ListPosts_Abstract {
  margin-block-start: calc(var(--layout-spacing-32) * -1);
}
