.mc-License {
  padding-block-start: var(--layout-spacing-40);
  color: var(--text-color-secondary);
}

.mc-Footer_About {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  padding: var(--layout-spacing-40) 0 var(--layout-spacing-24);

  @media screen and (width >= 40rem) {
    grid-template-columns: 130px 1fr;
    grid-column-gap: var(--layout-spacing-16);
  }
}

.mc-ProfilePicture {
  overflow: hidden;
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  margin-block-start: calc(var(--layout-spacing-8) * -1);

  @media screen and (width >= 40rem) {
    grid-column: 1;
  }
}


.mc-Footer_Text {
  @media screen and (width >= 40rem) {
    grid-column: 2;
  }
}
