body {
  background-color: var(--color-background-primary);
  color: var(--text-color-primary);
}


body.debug {
  background-image:
    repeating-linear-gradient(
      to bottom,
      var(--color-link),
      transparent 1px,
      transparent 8px,
      var(--color-link) 9px,
      transparent 9px,
      transparent 16px,
      var(--color-link) 17px,
      transparent 17px,
      transparent 24px
    );
  background-size: 100% 24px;
  background-position: top center;
}
/*
*/

.layout-MainHeader {
  padding: var(--layout-spacing-8) 0 var(--layout-spacing-24);
}

@media (min-width: 768px) {
  .layout-MainHeader {
    padding: var(--layout-spacing-24) 0;
  }
}

.layout-MainHeader_Content {
  margin: auto;
}

@media screen and (min-width: 40rem) {
  .layout-MainHeader_Content {
    display: flex;
  }
}

.layout-Content-maxWidth {
  max-width: var(--layout-max-width);
  padding-inline: var(--layout-spacing-24);
  margin: auto;
}

.layout-MainFooter {
  padding-block: var(--layout-spacing-48);
  margin: 0 auto var(--layout-spacing-24);
}

@media (min-width: 40rem) {
  .layout-Content-maxWidth {
    max-width: var(--layout-max-width);
    padding-inline: var(--layout-spacing-24);
    margin: auto;
  }
}
