body {
  background-color: var(--color-background-primary);
  color: var(--text-color-primary);
}


body.debug {
  background-image:
    repeating-linear-gradient(
      to bottom,
      transparent,
      transparent calc(var(--layout-line) - 1px),
      var(--color-link) var(--layout-line)
    );
  background-size: 100% var(--layout-line);

  @media (width > 40rem) {
    background-position: left -7px;
  }
}

.layout-MainHeader {

  @media (width < 40rem) {
    padding: var(--layout-spacing-24) 0 var(--layout-spacing-16);
  }

  @media (width >= 40rem) {
    margin: var(--layout-spacing-32) 0;
  }
}

.layout-MainHeader_Content {
  margin: auto;

  @media screen and (width >= 40rem) {
    display: flex;
  }
}

.layout-Content-maxWidth {
  max-width: var(--layout-max-width);
  padding-inline: var(--layout-spacing-24);
  margin: auto;

  @media (width >= 40rem) {
    max-width: var(--layout-max-width);
    padding-inline: var(--layout-spacing-24);
    margin: auto;
  }
}


.layout-MainFooter {
  padding-block: var(--layout-spacing-24);

  @media (width < 40rem) {
    padding-block: var(--layout-spacing-20);
  }
}


.layout-Grid {
  display: grid;
  grid-template-columns: 1fr minmax(40rem, 48rem) 1fr;
  gap: var(--layout-spacing-16);
  padding-inline: var(--layout-spacing-16);
}

.layout-FullWidth {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-inline-start: -50vw;
  margin-inline-end: -50vw;
}

.mc-Section_Header {

  @media (width < 40rem) {
    padding-block-start: var(--layout-spacing-20);
  }
}

.mc-Section_Heading {

  @media (width < 40rem) {
    padding-block-end: var(--layout-spacing-12);
  }
}
