.mc-MainNavigation {
  @media screen and (width < 40rem) {
    margin-block-start: calc(var(--layout-spacing-8) * -1);
  }
}

.mc-Menu {
  display: flex;

  @media (width >= 40rem) {
    margin-block-start: var(--layout-spacing-24);
  }
}

.mc-Menu_Item:not(:first-child) {
  margin-block-start: 0;
  margin-inline-start: var(--layout-spacing-24);
}

[class^="mc-Menu_Link"] {
  display: block;
  padding-block-start: var(--layout-spacing-8);
  font-family: var(--font-family-sans);
  text-decoration: none;
}

.mc-Menu_Link-active {
  padding-block-end: .75rem;
  border-block-end: .25rem solid;
  margin-block-end: calc(var(--layout-spacing-16) * -1);
}
