.mc-Post_Header {
  margin-block-end: var(--layout-spacing-32);
}

.mc-Post_Meta {
  color: var(--text-color-secondary);
}

small p:not(:last-child) {
  margin-block-end: calc(var(--layout-spacing-32) * -1);
}