.mc-Process_List {
  counter-reset: counter;
}

.mc-Process_Step {
  list-style: none;
  padding-inline-start: 6rem;
}

.mc-Process_Step:not(:last-child) {
  margin-block-end: var(--layout-spacing-32);
}

.mc-Process_Step::before {
  counter-increment: counter;
  content: counter(counter);
  display: block;
  position: absolute;
  top: var(--layout-spacing-24);
  left: var(--layout-spacing-16);
  width: var(--layout-spacing-32);
  height: var(--layout-spacing-32);
  border-radius: 100%;
  background: var(--text-color-primary);
  color: var(--color-background-primary);
  font-size: var(--font-size-small);
  line-height: var(--layout-spacing-32);
  text-align: center;
  transform: scale(2);

  @media (width >= 40rem) {
    left: 2rem;
  }
}

.mc-Process_Explanation {
  /* margin-block-start: calc(var(--layout-spacing-24) * -1); */
  padding: 0;
  color: var(--text-color-secondary);
}

.mc-Process_List {
  list-style-type: disc;
  grid-column: 2;
}
