:root {
  --font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  /* --font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif; */

}

html {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
}

body {
  line-height: 1.5;
}

h1 {
  line-height: 1.2;
}

@media (width >= 40rem) {
  h1 {
    padding-block: .75rem;
    font-size: var(--font-size-h1);
    line-height: 3rem;
  }
}

h2 {
  padding-top: var(--layout-spacing-24);
  padding-bottom: var(--layout-spacing-16);
  font-size: var(--font-size-h2);
  line-height: 2rem;
}

h3 {
  padding-bottom: 1.125rem;
  font-size: var(--font-size-h3);
  line-height: 2rem;
}

h3:not(:first-child) {
  padding-top: 24px;
}

h4,
p {
  padding-top: var(--layout-spacing-8);
  padding-bottom: var(--layout-spacing-16);
  line-height: 1.5;
}

li:not([class]) {
  padding-top: var(--layout-spacing-8);
  line-height: 1.5;
  margin-bottom: -.5rem;
}

a {
  color: var(--color-link);
}

ol,
ul {
  padding-left: 0;
  margin-bottom: 0;
}

ul:not([class]) {
  list-style-type: disc;
}

ul:not([class]):not(:last-child) {
  margin-block-end: var(--layout-spacing-24);
}

blockquote::before {
  content: "“";
  position: absolute;
  top: -7px;
  left: -1.5rem;
  color: var(--text-color-secondary);
  font-size: var(--font-size-h1);
}

time {
  color: var(--text-color-secondary);
}
