:root {
  --font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
}

body {
  line-height: 1.5;

  @media (min-width: 40rem) {
    font-size: var(--font-size-comfort);
  }
}

h1 {
  line-height: 1.2;

  @media (width >= 40rem) {
    padding-block: .75rem;
    font-size: var(--font-size-h1);
    line-height: 3rem;
  }
}

h2 {

  padding-bottom: var(--layout-spacing-16);
  font-size: var(--font-size-h2);
  line-height: 2rem;
}

h2:not(:first-child) {
  padding-top: var(--layout-spacing-24);
}

h3 {
  padding-bottom: 1.125rem;
  font-size: var(--font-size-h3);
  line-height: 2rem;
}

p + :where(h2, h3, h4) {
  padding-top: 24px;
}

:where(h3, h4) + p {
  margin-block-start: -1.5rem;
}

:where(h3, h4) + ul {
  margin-block-start: -1.5rem;
}

h4,
p {
  padding-top: var(--layout-spacing-8);
  padding-bottom: var(--layout-spacing-16);
  line-height: 1.5;
}

p + h4 {
  margin-block-start: var(--layout-spacing-24);
}

li:not([class]) {
  padding-top: var(--layout-spacing-8);
  line-height: 1.5;
  margin-bottom: -.5rem;
}

a {
  color: var(--color-link);
}

ol,
ul {
  padding-left: 0;
  margin-bottom: 0;
}

:where(ul[class]) {
  list-style: none;
}

ul:not([class]) {
  list-style-type: disc;
}

ul:not([class]):not(:last-child) {
  margin-block-end: var(--layout-spacing-24);
}

:where(ul, ol) + h2 {
  margin-block-start: var(--layout-spacing-48);
}

:where(ul, ol) + p {
  margin-block-start: var(--layout-spacing-24);
}

ul ul {
  padding-inline-start: var(--layout-spacing-24);
}

blockquote::before {
  content: "“";
  position: absolute;
  top: -7px;
  left: -1.5rem;
  color: var(--text-color-secondary);
  font-size: var(--font-size-h1);
}

time {
  color: var(--text-color-secondary);
}

code {
  color: var(--text-color-secondary);
  font-size-adjust: .5;
}

figcaption {
  font-style: italic;
}

figure img {
  border-radius: .5rem;
  overflow: hidden;
}

b,
strong {
  font-weight: 900;
}
