@font-face {
  font-family: "Merriweather";
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/merriweather-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-weight: bold;
  font-style: normal;
  src: url("/assets/fonts/merriweather-black.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/oswald-regular.woff2") format("woff2");
  font-display: swap;
}

:root {
  --font-family-heading: "Merriweather", sans-serif;
  --font-family-serif: "Merriweather", serif;
}

html {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-base);
}

body {
  line-height: 1.5;
}

h1 {
  line-height: 1.2;
}

@media (width >= 40rem) {
  h1 {
    padding-block: .75rem;
    font-size: var(--font-size-h1);
    line-height: 3rem;
  }
}

h2 {
  padding-top: var(--layout-spacing-24);
  padding-bottom: var(--layout-spacing-16);
  font-size: var(--font-size-h2);
  line-height: 2rem;
}

h3 {
  padding-bottom: 1.125rem;
  font-size: var(--font-size-h3);
  line-height: 2rem;
}

h3:not(:first-child) {
  padding-top: 24px;
}

h4,
p {
  padding-top: var(--layout-spacing-8);
  padding-bottom: var(--layout-spacing-16);
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-heading);
}

li:not([class]) {
  /* outline: 1px solid #faa; */
  padding-top: var(--layout-spacing-8);
  /* margin: 0; */
  line-height: 1.5;
  margin-bottom: -.5rem;
}

a {
  color: var(--color-link);
}

ol,
ul {
  padding-left: 0;
  margin-bottom: 0;
}

ul:not([class]) {
  list-style-type: disc;
}

ul:not([class]):not(:last-child) {
  margin-block-end: var(--layout-spacing-24);
}

blockquote::before {
  content: "“";
  position: absolute;
  top: -7px;
  left: -1.5rem;
  color: var(--text-color-secondary);
  font-size: var(--font-size-h1);
}

time {
  color: var(--text-color-secondary);
}
