:root {
  color-scheme: light dark;

  --color-gray: oklch(45% 0.0315 250);

  --color-blue-dark: oklch(37.5% 0.122 250);
  --color-blue-darkest: oklch(21.1% 0.0310 250);

  --color-orange-lightest: oklch(88.5% 0.0065 67.5);
  --color-orange-lighter: oklch(77.5% 0.0275 67.5);
  --color-orange-light: oklch(82% 0.128 67.5);

  --color-educapoker: #3f7eca;
  --color-qatium: #7d44ff;

  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-comfort: 1.25rem;
  --font-size-base: 1rem;
  --font-size-small: .8rem;

  --layout-spacing-8: .5rem;
  --layout-spacing-16: 1rem;
  --layout-spacing-24: 1.5rem;
  --layout-spacing-32: 2rem;
  --layout-spacing-48: 3rem;

  --layout-sidebar-left: 7rem;
  --layout-indent-left: 8rem;
  --layout-breakpoint: 40rem;
  --layout-max-width: 48rem;

  /* Tokenized palette */

  --color-background-primary:
    light-dark(
      var(--color-orange-lightest),
      var(--color-blue-darkest)
  );
  --text-color-primary:
    light-dark(
      var(--color-blue-darkest),
      var(--color-orange-lightest)
  );
  --text-color-secondary:
    light-dark(
      var(--color-gray),
      var(--color-orange-lighter)
  );
  --color-link:
    light-dark(
      var(--color-blue-dark),
      var(--color-orange-light)
  );

  @media (width >= 40rem) {
    --font-size-h1: 2.5rem;
    --font-size-h2: 1.75rem;
    --font-size-h3: 1.5rem;
    --font-size-comfort: 1.25rem;
    --font-size-base: 1rem;
    --font-size-small: .8rem;
  }
}
