:root {
  --color-blue-dark: hsl(210, 100%, 25%);
  --color-blue-darker: hsl(210, 50%, 25%);
  --color-blue-darkest: hsl(210, 50%, 10%);

  --color-orange-lightest: hsl(30, 10%, 85%);
  --color-orange-lighter: hsl(30, 20%, 70%);
  --color-orange-light: hsl(30, 100%, 70%);

  --color-educapoker: #3f7eca;

  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-comfort: 1.25rem;
  --font-size-base: 1rem;
  --font-size-small: .8rem;

  --layout-spacing-8: .5rem;
  --layout-spacing-16: 1rem;
  --layout-spacing-24: 1.5rem;
  --layout-spacing-32: 2rem;
  --layout-spacing-48: 3rem;

  --layout-sidebar-left: 7rem;
  --layout-indent-left: 8rem;
  --layout-breakpoint: 40rem;
  --layout-max-width: 48rem;

  --color-background-primary: var(--color-orange-lightest);
  --text-color-primary: var(--color-blue-darkest);
  --text-color-secondary: var(--color-blue-darker);
  --color-link: var(--color-blue-dark);

  @media (prefers-color-scheme: dark) {
    --color-background-primary: var(--color-blue-darkest);
    --text-color-primary: var(--color-orange-lightest);
    --text-color-secondary: var(--color-orange-lighter);
    --color-link: var(--color-orange-light);
  }

  @media (width >= 40rem) {
    --font-size-h1: 2.5rem;
    --font-size-h2: 1.75rem;
    --font-size-h3: 1.5rem;
    --font-size-comfort: 1.25rem;
    --font-size-base: 1rem;
    --font-size-small: .8rem;
  }
}
