/*
.mc-ListCompanies_List {}
*/

.mc-ListCompanies_Item {
  padding-block-end: var(--layout-spacing-64);
}

.mc-Company_Logo {
  display: block;
  width: 180px;
  height: 64px;
  margin-block: var(--layout-spacing-8) var(--layout-spacing-24);
}

.mc-Company_Logo-inverted {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .mc-Company_Logo-inverted {
    display: block;
  }

  .mc-Company_Logo-inverted + img {
    display: none;
  }
}

/* .mc-Company_Header {} */

.mc-Company_Date {
  padding-block-start: 0;
}

.mc-Company_Role {
  /* margin-block: calc(var(--layout-spacing-16) * -1); */
  color: var(--text-color-secondary);
}

.mc-Company_Projects {
  margin-block-end: calc(var(--layout-spacing-40) * -1);
}
