.mc-ListCompanies_List {
  padding: 0;
}

.mc-ListCompanies_Item {
  padding-block-end: var(--layout-spacing-64);

  @media (width < 40rem) {
    padding-block-end: 0;
  }
}

.mc-ListCompanies_Item li li {

  @media (width < 40rem) {
    padding-block-start: 0;
    margin-block-end: 0;
  }
}

.mc-Company_Logo {
  display: block;
  width: 180px;
  height: 64px;
  margin-block: var(--layout-spacing-8) var(--layout-spacing-24);

  @media (width < 40rem) {
    margin: var(--layout-spacing-12) 0 var(--layout-spacing-24);
  }
}

.mc-Company_Logo-inverted {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .mc-Company_Logo-inverted {
    display: block;
  }

  .mc-Company_Logo-inverted + img {
    display: none;
  }
}

.mc-Company_Date {
  padding-block-start: 0;

  @media (width < 40rem) {
    padding-block-start: var(--layout-spacing-4);
    padding-block-end: 0;
    margin-block-start: calc(var(--layout-spacing-20) * -1);
  }
}

.mc-Company_Role {
  color: var(--text-color-secondary);
}

.mc-Company_Projects {
  margin-block-end: calc(var(--layout-spacing-40) * -1);

  @media (width < 40rem) {
    margin-block-end: calc(var(--layout-spacing-24) * -1);
  }
}
