---
layout: case
title: "Aureka UX case study"
type: casestudy
navname: "Cases"
---

<!-- ## The Problem
Problem definition, research made, metrics raised, interviews, initial briefing. How the problem was chosen, why it was chosen and why it matters for the world.

## Limitations
What kind of limitations you were dealing with? Time? Resources? A new technology? Knowledge of the subject at hand?

## Solutions
Time to present the solution created. It's always good to show your evolution with the most important processes used in the project: wireframing? sketching? card sorting? HTML/CSS prototyping? Sketches are a important part of the design process, make sure you document them! 😄

## Your role
Most projects are a team effort. How did you help as the designer in the project? What could have been better in the team interaction and execution? Who else was creating the solution with you? Take ownership of the work you've done and give credit where credit's due.

## Learned Lessons
Did the project go live? Did it sink? What feedbacks did you receive? Which metrics did you register? What kind of improvements would you do / want to do? -->

{% include header.html %}

<div class="cst-LayoutArea cst-LayoutArea-hero">
  <div class="cst-LayoutArea_Content">
    <header class="cst-HeaderHero">
      <h1>Aureka <span>UX case study</span></h1>
    </header><!-- .header-hero -->
  </div><!-- .cst-LayoutArea_Content -->
</div><!-- .cst-LayoutArea -->

<div class="cst-LayoutArea">
  <div class="cst-LayoutArea_Content">
    <h2>Abstract</h2>
    <p>Aureka's core business is user referral to online poker rooms. They have the best online poker content platforms in Spanish –a school and a magazine/community– which <b>required constant feature creation, update and tweaking</b>.

    <h2>Role</h2>

    <p>My role as a UX designer and front-end developer touched many different areas where I had to coordinate with stakeholders and developers:</p>

    <ol>
      <li><b>From early feature conception to HTML+CSS frontend code</b>.</li>
      <li>From desktop only to <b>responsive design</b>.</li>
      <li>From landing pages to newsletters.</li>
      <li>From R&amp;D to production design and code.</li>
      <li>From <b>performance audits</b> to copywriting.</li>
    </ol>

    <p>The Design Department included two other designers which focused in graphic/aesthetic design: <a href="https://www.behance.net/user/?username=javyliu">Javier Sánchez</a> and <a href="http://www.anaascorbe.com">Ana Ascorbe</a>.</p>

    <h2>Limitations</h2>
    <ol>
      <li>The staff had a close relationship with our community of users (some of them even became part of the team) <b>research was mainly done with stakeholders</b>.</li>
      <li>The stakeholders initially kept a close eye to what our competitors were doing; thus <b>some requests came biased</b>.</li>
      <li>The <b>biggest pain point came from the complex affiliation system with 3rd parties</b>, critical to the business.</li>
    </ol>

    <h2>Work done</h2>

    <p>A product can change a lot in 5 years. Below is a highlight of the improvements added to EducaPoker.</p>
  </div><!-- .cst-LayoutArea_Content -->
</div><!-- .cst-LayoutArea -->

<div class="cst-Case_GridWrapper">
  <div class="cst-Case_Grid">
    <div class="cst-Case_Content">
      <h3>Its design grew old</h3>
      <p class="cst-FollowUp">But we're not talking only about trendy trends</p>

      <p>The stakeholders were worried about the look and feel of the site, which was becoming obsolete. After analysing the site, we came to a conclusion that we needed a cleanup <b>and to optimize for readability</b> since the main feature of the the site were articles and forum discussions.</p>

      <p>Some of the changes applied include:</p>

      <ol>
        <li><b>Removing distractions and noise</b> from the GUI, specially from the forum threads.</li>
        <li><b>Increasing the base font size</b> from 13px to 16px.</li>
        <li>Using a grid for <b>vertical rhythm to increase reading comfort</b>.</li>
        <li>Making a styleguide for promotional images; Including image size (that fit in our vertical rhythm) and aesthetic style (each picture from any promotion of a poker room had a different one).</li>
      </ol>
    </div><!-- .cst-Case_Content -->
    <aside class="cst-Case_Aside">
      <figure>
        <picture class="cst-Case_Picture">
          <source
          srcset="/assets/images/case-aureka-design-old.webp 1x"
          type="image/webp">
          <img src="/assets/images/case-aureka-design-old.jpg"
          alt=""
          width="1080" height="432">
        </picture>
        <figcaption>
          <p>Old graphic themes for EducaPoker.</p>
        </figcaption>
      </figure>
      <figure>
        <picture class="cst-Case_Picture">
          <source
          srcset="/assets/images/case-aureka-forums-compare.webp 1x"
          type="image/webp">
          <img src="/assets/images/case-aureka-forums-compare.png"
          alt=""
          width="1014" height="288">
        </picture>
        <figcaption>
          <p>Comparison of an offical vBulletin theme vs EducaPoker's custom Drupal forum theme. Please, notice the real state, font style harmony, tidyness and other differences.</p>
        </figcaption>
      </figure>
    </aside>
  </div><!-- .case-grid -->
</div><!-- .cst-Case_GridWrapper -->

<div class="cst-Case_GridWrapper">
  <div class="cst-Case_Grid">
    <div class="cst-Case_Content">
      <h3>The mobile web came to stay...</h3>
      <p class="cst-FollowUp">More than just a media query</p>

      <p>In those years, western mobile browsing was starting to rise. By then our analytics didn't show a big mobile use from our users, why? Maybe the site was unusable in a mobile device? Maybe our product wasn't suitable for such devices?</p>

      <p>After research we concluded that our users did want to read our articles and watch our videos on the go. But we didn't just write a media query to make the layout single column at some resolutions. We <b>optimized for mobile</b>:</p>
      <ol>
        <li>Adjusted font sizes.</li>
        <li>Made interactive elements bigger.</li>
        <li>Crafted retina quality assets.</li>
        <li>Optimized assets (images and video) for retina displays and 3G connections.</li>
      </ol>

      <p>After the update set down, our users gave <b>very positive feedback and our analytics showed a steady increase in mobile daily users</b>. By the end of 2014, <b>+50% of the visits came from mobile devices</b>.</p>
    </div><!-- .cst-Case_Content -->
    <aside class="cst-Case_Aside">
      <figure>
        <picture class="cst-Case_Picture">
          <source
          srcset="/assets/images/case-aureka-mobile-1x.webp 1x,
          /assets/images/case-aureka-mobile-3x.webp 3x"
          type="image/webp">
          <img src="/assets/images/case-aureka-mobile-1x.jpg"
          alt=""
          srcset="/assets/images/case-aureka-mobile-3x.jpg 3x"
          width="360" height="648">
        </picture>
        <figcaption>
          <p>Mobile home page of EducaPoker.</p>
        </figcaption>
      </figure>
    </aside>
  </div><!-- .case-grid -->
</div><!-- .case-grid -->

<div class="cst-Case_GridWrapper">
  <div class="cst-Case_Grid">
    <div class="cst-Case_Content">
      <h3>... and brought even more challenges</h3>

      <p class="cst-FollowUp">Design is never done</p>

      <p>Like everybody else, we were learning on the go. Supporting hi-res displays meant blurry or bigger-and-heavier images. We had two ways of dealing with this issue.</p>

      <p>We initially switched icons to custom-fonts, but we quickly changed to SVG assets because they were:</p>
      <ol>
        <li>More compatible.</li>
        <li>More accessible.</li>
        <li>Easier to align to the rest of the components.</li>
        <li>Easier to <b>optically adjust</b> vectors to pixels, avoiding blurriness at small sizes.</li>
      </ol>

      <p>With photo-pictures we followed two approaches:</p>
      <ol>
        <li>Promo images had been standardised and consisted in just a big size short text with the background brand color. We had the idea of making a fake-image builder with those two inputs: text and brand color. The output was an HTML snippet which presented no problems in resolution.</li>
        <li>For images consisting in more than just text: <a href="http://dev.opera.com/articles/responsive-images/">responsive images</a>. But its support was low. So research went on and we found a technique known as <a href="https://www.netvlies.nl/tips-updates/design-interactie/design-interactie/retina-revolution/">compressive images</a> for providing a hi-res low size JPG that provided a good tradeoff for retina displays.</li>
      </ol>
    </div><!-- .cst-Case_Content -->
    <aside class="cst-Case_Aside">
      <figure>
        <picture class="cst-Case_Picture">
          <source
          srcset="/assets/images/case-aureka-svg.webp 1x"
          type="image/webp">
          <img src="/assets/images/case-aureka-svg.png"
          alt="PokerStars Spade"
          width="432" height="432">
        </picture>
        <figcaption>
          <p>Please notice how the alignment of the vectors produce a clean raster output. PokerStars Spade; all rights reserved to the holders of the trademark.</p>
        </figcaption>
      </figure>
    </aside>
  </div><!-- .case-grid -->
</div>

<div class="cst-Case_GridWrapper">
  <div class="cst-Case_Grid">
    <div class="cst-Case_Content">
      <h3>User adquisition, support and retention</h3>

      <p class="cst-FollowUp">You are nothing without your users</p>

      <p>Login forms are the most common system for identifying users but are a <i>wall</i> nonetheless. We implemented the now widespread user access via social media account with two objectives:</p>
      <ol>
        <li>Making the access as easy as possible.</li>
        <li>Avoiding userbase pollution (e.g. spam bots) since we delegated the validity of the data to Facebook or Twitter.</li>
      </ol>

      <p>But the <i>registered users</i> metric actually meant nothing. Our <b>major pain point was the dual-register system</b>: in order to access the content you have to register on the site, but you also have to register in a poker room with us as a referrer and play in it.</p>

      <p>The user-flow for referring users was the most challenging issue we undertook. To make things even more complicated, each poker room had a different system for their referral linking:</p>

      <ol>
        <li>Register after visiting from a specific URL, set with a cookie.</li>
        <li>Register after visiting from a specific URL, with a referral code in the URL.</li>
        <li>Introducing a promo code during register. We had to be careful with this option since each poker room labeled the code differently.</li>
      </ol>

      <p>We ended up with several complementary solutions:</p>
      <ol>
        <li>A <b>Help section</b> with a promoted link in the main navigation. It answered the most frequently asked questions. This meant an <b>enormous relief for our Support staff</b>.</li>
        <li>Cleaning cookies was one critial requiremen, so we designed a new outgoing funnel with customized information according to the poker <b>room criteria for referral –described above– and the user's browser and OS</b> via user sniffing. Bear in mind that the GUI and shortcuts to clean cookies differ for each browser and OS combination, thus the possible combinations can grow exponentially.</li>
      </ol>

      <p>User growth per se isn't important as long as your users don't come back. Monthly Active Users metric was also a major concern. The stakeholders developed several systems to reward the user from using our services and collaborating with the community, strengthening the bond between users:</p>
      <ol>
        <li><b>Gamification</b>: the whole site was designed to <b>make the users aware of the progression</b> they were making in their poker abilities. Once they reached a milestone they got a congratulation and upgraded tools.</li>
        <li><b>Rewards</b>: we had several reward systems for interacting like awarding useful answers to other users in the forum; a sort of shop; or even the possibility to buy tickets for live poker tournaments.</li>
        <li><b>Retention</b>: email communication was also part of user retention, but they were sent in plain-text. To improve the perceive experience, we customized the emails to have the same look and feel as the site.</li>
      </ol>
    </div><!-- .cst-Case_Content -->
    <aside class="cst-Case_Aside">
      <figure>
        <picture class="cst-Case_Picture">
          <source
          srcset="/assets/images/case-aureka-user-access.webp 1x"
          type="image/webp">
          <img src="/assets/images/case-aureka-user-access.png"
          alt="Wireframe of a user access form"
          width="550" height="408">
        </picture>
        <figcaption>
          <p>Wireframe of a user access form.</p>
        </figcaption>
      </figure>
      <figure>
        <picture class="cst-Case_Picture">
          <source
          srcset="/assets/images/case-aureka-help.webp 1x"
          type="image/webp">
          <img src="/assets/images/case-aureka-help.png"
          alt="A frequently asked question in the Help section in EducaPoker"
          width="1080" height="648">
        </picture>
        <figcaption>
          <p>A frequently asked question in the Help section in EducaPoker.</p>
        </figcaption>
      </figure>
    </aside>
  </div><!-- .case-grid -->
</div>

<!--
<div class="cst-Case_Grid">
  <div class="cst-Case_Content">
    <h3>🤖 TO DEVELOP</h3>
    [x] Information Architecture was confusing with sometimes flat and sometimes nested hierarchy and confusing navigation -> educapoker-webmap.pdf confirmed by card-sorting jpgs.
  </div>- .cst-Case_Content -
</div>- .case-grid -->


<div class="cst-Case_GridWrapper">
  <div class="cst-Case_Grid">
    <div class="cst-Case_Content">
      <h3>Copywriting, usually forgotten...</h3>
      <p class="cst-FollowUp">Copy IS the interface</p>
      <p>When a product grows, its labelling must too. With each new feature we checked:</p>
      <ol>
        <li>If the <b>labelling was constrained by previous features</b> (e.g. similar names for different actions).</li>
        <li>That <b>automatic emails felt human by tailoring the text</b>.</li>
        <li>The text was <b>short and clear</b>, communicating the most with the least number of words.</li>
      </ol>
    </div><!-- .cst-Case_Content -->
    <aside class="cst-Case_Aside">
      <figure>
        <picture class="cst-Case_Picture">
          <source
          srcset="/assets/images/case-aureka-copywriting.webp 1x"
          type="image/webp">
          <img src="/assets/images/case-aureka-copywriting.png"
          alt="EducaPoker automatic email example"
          width="840" height="672">
        </picture>
        <figcaption>
          <p>EducaPoker automatic email example</p>
        </figcaption>
      </figure>
    </aside>
  </div><!-- .case-grid -->
</div>

<div class="cst-Case_GridWrapper">
  <div class="cst-Case_Grid">
    <div class="cst-Case_Content">
      <h3>... but the BIG forgotten are internal Staff tools</h3>
      <p class="cst-FollowUp">Out of users' sight, out of mind</p>
      <p><b>Since the CMS was only seen by the staff, it was the part of the site that took less care from the stakeholders</b>. But we shouldn't neglect updates to it, since bad CMSs can cost you money (time wasted, unclear flows and UI, etc).</p>
      <p>Even though, we managed to apply several improvements to it:</p>
      <ol>
        <li>Easy quick-wins such as fixing a 10s load of a heavily consulted page</li>
        <li>Improved flows and UIs.</li>
        <li>Dashboard design. Real dashboard: <b>no bullshit pie charts, big numbers, flashy colors or below the fold data</b>.</li>
      </ol>
    </div><!-- .cst-Case_Content -->
    <aside class="cst-Case_Aside">
      <figure>
        <picture class="cst-Case_Picture">
          <source
          srcset="/assets/images/case-aureka-dashboard.webp 1x"
          type="image/webp">
          <img src="/assets/images/case-aureka-dashboard.png"
          alt="EducaPoker Admin Dashboard"
          width="1060" height="432">
        </picture>
        <figcaption>
          <p>EducaPoker Admin Dashboard</p>
        </figcaption>
      </figure>
    </aside>
  </div><!-- .case-grid -->
</div><!-- .cst-Case_GridWrapper -->

<div class="cst-Case_GridWrapper">
  <div class="cst-Case_Grid">
    <div class="cst-Case_Content">
      <h2>Deliverables</h2>
      <p>The subprojects listed above were part of a constant work in progress; the way we faced each sub-project was different according to the subproject needs but they usually included:</p>
      <ul>
        <li><b>Interviews and documents</b> for:
          <ul>
            <li>Feature definition.</li>
            <li>Labelling.</li>
          </ul>
        </li>
        <li><b>Sketching and wireframing</b> for:
          <ul>
            <li>Information architecture.</li>
            <li>User flows.</li>
            <li>Information design.</li>
            <li>Interaction design.</li>
          </ul>
        </li>
        <li><b>HTML+CSS production-ready prototypes</b>.</li>
      </ul>
    </div><!-- .cst-Case_Content -->
  </div>
</div><!-- .cst-Case_GridWrapper -->

<div class="cst-LayoutArea">
  <div class="cst-LayoutArea_Content">
    <h2>Learned lessons</h2>

    <h3>Research</h3>
    <p><b>We backtracked often</b> redefining features in an advanced stage, at the additional cost it means. <i>Agile</i> was sometimes used as an excuse to not define properly.</p>
    <p><b>Features requests must have a KPI</b>, even small experiments. If not, you might be wasting resources, <b>solving trivial problems with low return</b>.</p>
    <p><b>Micro optimization can be appropiate when it applies to a huge percentage of your income</b>. In this case, a <i>simple</i> detail such as differentiating how a label is written for every affiliate; or describing complex steps such as the combination of different browsers and operatives systems.</p>
    <p><b>Don't forget that your audience is global and state localisation-sensitive data</b>. For live streamings we were dating them assuming Spain's timezone, but millions of people speak Spanish around the world.</p>

    <h3>Design</h3>

    <p><b>Users don't usually like big changes</b>; know when to make incremental or disruptive changes.</p>
    <ul>
      <li>Incremental changes work best most of the time because the majority of users won't even notice them (but don't understimate them). For instance:
        <ul>
          <li>Making minor aesthetic updates.</li>
          <li>Increasing font size.</li>
        </ul>
      </li>
      <li>Disruptive changes might be needed when rebuilding complex flows (when incremental updates are not possible), but may outrage users used to those flows.</li>
    </ul>
    <p><b>Even small changes can affect greatly the rest of the system</b>. We introduced vertical rhythm to increase readability comfort but we lacked a styleguide. Thus borders, paddings, margins, line-heights, image sizes had to be redefined. It helped us to think of the product visual design as a whole.</p>
    <p><b>Control all your assets</b>. Poker rooms have very creative marketing departments that made our news section look a bit chaotic. The change to in-house promotional pictures provided a more cohesive style.</p>
    <p><b>Browser support</b> was a concern, but we ended up following the <i>de facto standard</i> of <a href="https://meta.stackexchange.com/questions/56161/which-browsers-are-officially-supported-and-what-else-do-i-need">supporting the latest two major versions of browsers</a>. This helped us limit adding scripts and polyfills, which penalized up-to-date users (thankfully most of our user base).</p>

    <h3>Improvements</h3>
    <p><b>Prototyping</b>. Mobile web made us definitively realise it made no sense to render mockups of a "mobile" and a "desktop" version for each subproject, the layout can <i>break</i> on any screen-width. We needed real prototypes to test on any device. We created a styleguide.</p>
    <p><b>Constraints are good</b>. We were always asking for removing meaningless blocks without a KPI in every screen. People suffer <i>horror vacui</i>, specially marketing people. But the transition to mobile (in addition to some analytics) helped them realise that less is better. This new point of view was reflected in the desktop version as well.</p>
    <p><b>Keep it short!</b> We featured some extremely long articles (+5000 words). We reach a two sided solution: rewriting (more concise text) and article splitting.</p>
    <p><b>Asset optimization.</b> Over-optimizing is not a thing. Mobile networks present many problems:</p>
    <ul>
      <li>High latency.</li>
      <li>Limited data bandwidth.</li>
      <li>Limited data download.</li>
    </ul>
    <p><b>Use vector assets whenever possible</b>. We switched to SVG even for medium-complexity assets such as poker room logos. This produced <i>heavy</i> SVGs, but once gzipped was worth it: you could rescale the logos without problem!</p>
    <p><b>A checklist for projects comes in handy</b>. So you don't forget to style your print CSS and emails!</p>
    <p><b>Have a writing styleguide</b>. I believe users can overcome bad user flows as long as the copy (e.g. the instructions, the buttons) is excellent. Avoid the use of synonims or similarities, it creates confusion.</p>
    <p><b>Give your employees good tools</b>. If you have sloppy tools, you'll have sloppy results. The more employees working with mediocre tools, the more money the company might wasting.</p>
  </div><!-- .cst-LayoutArea_Content -->
</div><!-- .cst-LayoutArea -->

{% include footer.html %}
