<footer class="layout-MainFooter">
  <p class="mc-License">
    <a href="https://creativecommons.org/licenses/by-nc/4.0/"><abbr title="Creative Commons License - Attribution, No Derivatives">[cc by-nd]</abbr></a>

    {% year %}
  </p>
</footer><!-- .MainFooter -->
