<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{title}}</title>

  <link rel="stylesheet" href="/bundle.css" media="print" onload="this.media='all'">


  <!-- In most cases, one 180×180px touch icon in the head is enough -->
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <!-- Standard favicons -->
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">

  <!-- Android -->
  <!-- Google Chrome mobile add to homescreen -->
  <link rel="icon" sizes="192x192" href="/favicon-192.png">
  <!-- Location bar background color -->
  <meta name="theme-color" content="#bc2f2f">

  <!-- Windows tile styling -->
  <meta name="msapplication-TileColor" content="#bc2f2f">
  <meta name="msapplication-TileImage" content="/favicon-144.png">
</head>
