<!DOCTYPE html>
<html lang="en">
  {% include head %}

  <body>
    <div class="layout-Content-maxWidth">
      {% include header %}

      <main class="" role="main">
        <div class="mc-Post">
          <header class="mc-Post_Header">
            <h1>{{ title }}</h1>
            <p>
              <time class="mc-Post_Meta "datetime="{{ date | date_to_xmlschema }}">{{ date | postDate }}</time>
            </p>
          </header>
          <div class="mc-Post_Content">
            {{ content }}
          </div><!-- .mc-Post_Content -->
        </div><!-- .mc-post -->
      </main><!-- .maincontent -->
      {% include footer_post %}
    </div>
  </body>
</html>
