.mc-Section_Heading {
  border-bottom: .25rem solid;
  padding-bottom: 1rem;
  margin-bottom: calc(1.75rem - 8px);
}

.mc-ListPosts {
  list-style: none;
  max-width: var(--layout-content-max-width);
}

.mc-ListPosts_Item {
  display: grid;
  align-items: baseline;
  grid-gap: 0 var(--layout-unit-24);
  grid-template-columns: auto 1fr;
  padding: 0;
  margin-bottom: var(--layout-unit-24);

  &:not(:first-child) {
    margin-top: auto;
  }
}

// .mc-ListPosts_Date {}

// .mc-ListPosts_Title {}

.mc-ListPosts_Abstract {
  grid-column: 2;
}
