.mc-Process {
  list-style: none;
  counter-reset: counter;
  max-width: var(--layout-content-max-width);
  padding-top: 1rem;
  margin: auto;
}

.mc-Process_Step {
  padding: 0;
  margin: 0;

  @media screen and (min-width: 48rem) {
    max-width: 50%;
  }
}

.mc-Process_Step::before {
  counter-increment: counter;
  content: counter(counter);
  display: block;
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
  background: var(--color-normal);
  border-radius: 100%;
  color: var(--color-background);
  font-size: var(--font-size-small);
  line-height: 2rem;
  text-align: center;
  transform: scale(2);
}

.mc-Process_Step:nth-child(even) {
  padding-left: 4rem;

  @media screen and (min-width: 48rem) {
    margin-left: auto;
  }
}

.mc-Process_Step:nth-child(odd) {
  @media screen and (max-width: 48rem) {
    padding-left: 4rem;
  }

  @media screen and (min-width: 48rem) {
    padding-right: 4rem;
  }
}

.mc-Process_Step1::before,
.mc-Process_Step3::before {
  @media screen and (max-width: 48rem) {
    left: -1rem;
  }

  @media screen and (min-width: 48rem) {
    right: -1rem;
  }
}

.mc-Process_Step2::before,
.mc-Process_Step4::before {
  left: -1rem;
}

// .mc-Process_Header {}

// .mc-Process_Title {}

// .mc-Process_Explanation {}

// .mc-Process_Examples {}

.mc-Process_Example {
  padding-top: .5rem;
  margin-bottom: -.5rem;
}
