.mc-Process {
  list-style: none;
  counter-reset: counter;
  max-width: var(--layout-content-max-width);
  margin: auto;
}

.mc-Process_Step {
  padding: 0 0 0 4rem;
  margin: 0 0 var(--layout-unit-48);
}

.mc-Process_Step::before {
  counter-increment: counter;
  content: counter(counter);
  display: block;
  position: absolute;
  top: var(--layout-unit-24);
  left: 0;
  width: var(--layout-unit-32);
  height: var(--layout-unit-32);
  background: var(--color-normal);
  border-radius: 100%;
  color: var(--color-background);
  font-size: var(--font-size-small);
  line-height: var(--layout-unit-32);
  text-align: center;
  transform: scale(2);
}

.mc-Process_Step::before {
}

// .mc-Process_Header {}

// .mc-Process_Title {}

// .mc-Process_Explanation {}

.mc-Process_Examples {
  margin: 0;
}

.mc-Process_Example {
  padding-top: .5rem;
  margin-bottom: -.5rem;
}
