@font-face {
  font-family: "Merriweather";
  font-weight: regular;
  font-style: normal;
  src: url("/assets/fonts/merriweather-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-weight: bold;
  font-style: normal;
  src: url("/assets/fonts/merriweather-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-weight: regular;
  font-style: normal;
  src: url("/assets/fonts/oswald-regular.woff2") format("woff2");
  font-display: swap;
}

:root {
  --font-family-heading: "Oswald", sans-serif;
  --font-family-serif: "Merriweather", serif;
}

html {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-base);
}

h1 {
  padding-top: .5rem;
  margin-bottom: 1rem;
  font-size: var(--font-size-h1);
  font-weight: normal;
  line-height: 48px;
}

h2 {
  padding-top: 1.25rem;
  padding-bottom: .75rem;
  margin-bottom: .5rem;
  font-size: var(--font-size-h2);
  font-weight: normal;
  line-height: 2rem;
}

h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: var(--font-size-h3);
  font-weight: normal;
  line-height: 2rem;
}

h4,
p {
  padding-top: .5rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-heading);
}

li {
  padding-top: .5rem;
  padding-bottom: 1rem;
  line-height: 1.5;
}

a {
  color: var(--color-link);
}

ol,
ul {
  padding-left: 0;
  margin-bottom: 0;
}

blockquote {
  margin-bottom: var(--layout-unit-24);

  &::before {
    content: "“";
    position: absolute;
    left: -.5rem;
    color: var(--color-faded);
    font-size: var(--font-size-h1);
    line-height: 1;
  }
}

time {
  color: var(--color-faded);
}
